a {
  color: black;
}

h1 {
  padding-top: 40px;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}
li {
  list-style: none;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

button {
  border-radius: 8px;
}
button:hover {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.container {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  margin-top: 40px;
  border: 1px solid blue;
  border-radius: 10px;
  padding: 40px;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 80%;
}
.card:hover {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.low-temperature {
  padding-top: 20px;
}

.chance {
  padding-top: 20px;
}

.nightfall {
  padding-top: 20px;
}

.input-group {
  margin-top: 30px;
}
.location {
  margin-top: 20px;
}

.current-temperature {
  font-weight: bold;
  font-size: 30px;
}
.static-temperature {
  font-size: 30px;
  padding: 10px;
}
.emoji {
  font-size: 60px;
}
.d-flex {
  margin-bottom: 40px;
}
.coder {
  text-align: center;
  opacity: 0.7;
}
.units {
  position: relative;
  top: -10px;
}
