a {
  color: black;
  cursor: default;
  text-decoration: none;
}

h1 {
  padding-top: 40px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0;
}
li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}

button {
  border-radius: 8px;
}
button:hover {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
small {
  opacity: 0.7;
  text-align: center;
}
.container {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid blue;
  border-radius: 5px;
}

.weather-app {
  padding: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

.card:hover {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.low-temperature {
  padding-top: 40px;
}

.chance {
  padding-top: 40px;
}

.nightfall {
  padding-top: 40px;
}

.input-group {
  margin-top: 30px;
}
.location {
  margin-top: 20px;
}

.current-temperature {
  font-weight: bold;
  font-size: 35px;
}
.static-temperature {
  font-size: 30px;
  padding: 10px;
}
.emoji {
  font-size: 60px;
}
.d-flex {
  margin-bottom: 40px;
}

.units {
  position: relative;
  font-size: 16px;
  top: -12px;
}
.weather-temperature-min {
  opacity: 0.7;
}
